
.sayText {
  color: #909090;
  text-align: center;
  font-family: Test Founders Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.whoSay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.nameof {
  color: #404958;
  text-align: center;
  font-family: Test Founders Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}
.descriptionof {
  color: #3e68f6;
  text-align: center;
  font-family: Test Founders Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.Textleft {
  background-color: white;
  padding: 24px 16px;
  text-align: start;
  border-radius: 0px 32px 32px 32px;
  margin-right: 20%;
  color: #909090;
  font-family: Test Founders Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.Textright {
  background-color: white;
  padding: 24px 16px;
  text-align: start;
  border-radius: 32px 0px 32px 32px;
  margin-left: 20%;
  color: #909090;
  font-family: Test Founders Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.sayContainerleft {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.Sayimage {
  width: 56px;
  height: 56px;
  border-radius: 72px;
}
/*Responsive*/

/*for small screen */
@media only screen and (max-width: 767px) {
  .sayText {
    color: #909090;
    text-align: center;
    font-family: Test Founders Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .whoSay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
  .nameof {
    color: #404958;
    text-align: center;
    font-family: Test Founders Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
  .descriptionof {
    color: #3e68f6;
    text-align: center;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  .Textleft {
    background-color: white;
    padding: 24px 16px;
    text-align: start;
    border-radius: 0px 32px 32px 32px;
    margin-right: 0%;
    color: #909090;
    font-family: Test Founders Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .Textright {
    background-color: white;
    padding: 24px 16px;
    text-align: start;
    border-radius: 32px 0px 32px 32px;
    margin-left: 0%;
    color: #909090;
    font-family: Test Founders Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .sayContainerleft {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .Sayimage {
    width: 40px;
    height: 40px;
    border-radius: 72px;
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
 
  .sayText {
    color: #909090;
    text-align: center;
    font-family: Test Founders Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
  }
  .whoSay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
  .nameof {
    color: #404958;
    text-align: center;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
  .descriptionof {
    color: #3e68f6;
    text-align: center;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }

  .Textleft {
    background-color: white;
    padding: 24px 16px;
    text-align: start;
    border-radius: 0px 32px 32px 32px;
 
    width: 100%;
    color: #909090;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Textright {
    background-color: white;
    padding: 24px 16px;
    text-align: start;
    border-radius: 32px 0px 32px 32px;
    color: #909090;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sayContainerleft {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .Sayimage {
    border-radius: 72px;
    width: 48px;
    height: 48px;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 992px) {
}
